body {
    margin: 0;
    padding: 0;
    background: #5d7d5c;
    color: #fff4dc;
    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: underline;
    color: #fff4dc;
}
header {
    background: url(header.png) repeat-x;
    height: 160px;
    width: 100%;
    background-size: 820px;
}

section {
    margin: 0 10px 60px;
}

p {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 1px;
    text-align: left;
    margin: 18px auto;
    max-width: 450px;
}

p.center {
    text-align: center;
}

h1 {
    font-size: 40px;
    text-align: center;
    line-height: 46px;
    margin: 18px 0;
}

h2 {
    text-align: center;
    font-size: 26px;
    line-height: 30px;
    margin: 18px 0;
}

h3 {
    text-align: center;
    font-size: 20px;
    line-height: 24px;
    margin: 18px 0;
    font-weight: normal;
    letter-spacing: 1px;
}

.clr {
    display: block;
    clear: both;
}

#names {
    margin: 0 auto;
    max-width: 800px;
}

.name {
    width: 40%;
    float: left;
}

.first, .last {
    display: block;
    text-align: center;
}

.first {
    font-weight: bold;
    font-size: 50px;
}

.last {
    font-weight: normal;
    font-size: 30px;
    line-height: 14px;
}

#mine_symbol {
    width: 20%;
    display: block;
    float: left;
    text-align: center;
}

#mine_symbol img {
    width: 100%;
    max-width: 100px;
}

#accomodations img {
    max-width: 20px;
    margin: 0 5px 0 0;
    vertical-align: sub;
}

#map {
    text-align: center;
}

#map img {
    width: 100%;
    max-width: 750px;
}

ul {
    max-width: 450px;
    margin: 0 auto;
}

ul li {
    margin: 0 0 10px;
}

#music-search {
    max-width: 450px;
    margin: 18px auto;
}

#music-search input#search-text, #music-search button {
    display: inline-block;
}

#music-search input#search-text {
    height: 30px;
    border: none;
    box-shadow: inset 1px 1px 4px rgba(0,0,0,0.3);
    width: 80%;
    background: #fff4dc;
    text-indent: 10px;
    border-radius: 2px;
    padding: 0;
    font-size: 18px;
    color: #4c4c4c;
}

#music-search button {
    border: 1px solid #5d7d5c;
    border-radius: 3px;
    height: 30px;
    background: #fff4dc;
    font-size: 15px;
    width: 18%;
    padding: 0px 4px;
    line-height: 0;
    box-shadow: 1px 1px 4px rgba(0,0,0,0.3);
    cursor: pointer;
    color: #4c4c4c;
}

#music-search button:hover {
    background: #3b503a;
    color: #fff;
    border: 1px solid #3b503a;
}

#result-list, #playlist-list {
    margin: 10px 0;
    padding: 0;
    max-height: 400px;
    overflow: scroll;
    border: 1px solid #fff4dc;
    -webkit-overflow-scrolling: touch;
    display: none;
}

#result-list li, #playlist-list li {
    list-style: none;
    padding: 10px;
    font-size: 20px;
    margin: 0;
}

#result-list li:hover, #playlist-list li:hover {
    background: rgba(255,255,255,0.1);
}

#result-list li iframe, #playlist-list li iframe {
    margin: 5px 0 0 0;
}

#result-list .artist, #playlist-list .artist {
    display: inline-block;
    width: 100%;
    font-size: 12px;
    text-transform: uppercase;
}

#result-list .song, #playlist-list .song {
    display: inline-block;
    width: 100%;
}

#result-list .preview, #playlist-list .preview {
    cursor: pointer;
    display: inline-block;
    margin: 0 15px 0 0;
    font-size: 16px;
    text-transform: uppercase;
}

#result-list .add {
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
}

#result-list .preview:hover, #result-list .add:hover, #playlist-list .preview:hover {
    text-decoration: underline;
}

#result-list .preview::before, #playlist-list .preview::before {
    content: '';
    display: inline-block;
    position: relative;
    top: 1px;
    left: 3px;
    border-style: solid;
    border-width: 6px 0 6px 12px;
    margin: 0 8px 2px 0;
    border-color: transparent transparent transparent #fff4dc;
}

#result-list .add::before {
    content: '+';
    display: inline-block;
    font-weight: bold;
    position: relative;
    top: 1px;
    left: 3px;
    margin: 0 8px 0 0;
    line-height: 24px;
    vertical-align: top;
}

#result-list .added {
    opacity: 0.5;
    font-size: 16px;
    text-transform: uppercase;
}
#result-list .added::before {
    content: '';
}

#see-current-list {
    text-align: center;
    cursor: pointer;
    margin: 10px 0;
}

#see-current-list:hover {
    text-decoration: underline;
}